/* (フォント変数)
***************************************************************/
$ff-base:"Inter", sans-serif;
$lh-base:1.2;
$fz-base:20px;
$fw-base:500;

/* (カラー変数テキスト)
***************************************************************/

$cl-text:#000;
$cl-text-2:#2B2B2B;
$cl-text-white:#FFFFFF;

/* (背景カラー変数背景)
***************************************************************/

$bg-white:#FFFFFF;
$bg-black:#000;
$bg-dark:#2B2B2B;
$bg-light:#D6D6D6;
$bg-middle:#AE9693;


/* (レイアウト変数)
***************************************************************/

$inner-width:1200px; //インナー幅サイズ
$sp-width:768px; //スマホサイズ基本幅


/*(ブレークポイント ※pcファースト)
***************************************************************/
$breakpoints:(
  sp: 'screen and (max-width: #{$sp-width - 1px})',
  tb: 'screen and (max-width: #{$inner-width - 1px})',
  pc: 'screen and (max-width: 1440px)',//1440pxカンプ幅以下
  ) !default;


/*(header-height)
***************************************************************/
$header-height: 120px;
$header-height-md: 100px;
$header-height-sm: 80px;